{% load static %}
<!DOCTYPE html>
<html lang="pt-br" class="w-screen">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rocket Bank</title>

  {% block extrastyle %}
  {% endblock %}

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block extrahead %}
  {% endblock %}
</head>

<body class="text-slate-50">
  <header class="bg-slate-800 flex justify-between items-center px-6 py-3">
    {% if user %}
    <p class="text-2xl  font-bold"><span class="text-teal-500"><a
          href="{% url 'payments:show_payments' %}">Rocket</span> Bank</a></p>
    {% else %}
    <p class="text-2xl font-bold"><span class="text-teal-500"><a href="{% url 'index' %}">Rocket</span> Bank</a>
    </p>
    {% endif %}
    <div class="text-2xl text-medium">
      {% block header %}
      {% endblock %}
    </div>
    <div class=" flex gap-12">
      {% if user %}
      <h3 class="text-xl">Bem vindo</h3>
      {% else %}
      <div class="hidden md:flex gap-4 items-center">
        <button><a href="{% url 'real_state_financing' %}">Financiamento imobiliário</a></button>
        <a href="{% url 'signin' %}"><button
            class="bg-slate-50 text-slate-950 font-medium rounded py-1 px-3">Entrar</button></a>
        <a href="{% url 'signup' %}"><button
            class="bg-teal-500 text-slate-950 font-medium rounded py-1 px-3">Cadastrar-se</button></a>
      </div>
      {% endif %}
    </div>
  </header>
  <main class="bg-slate-900">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="flex flex-col md:flex-row justify-around items-center bg-sky-950 py-10">
    <div class="flex flex-col gap-8">
      <h3 class="font-bold">Para você</h3>
      <ul class="flex flex-col gap-4">
        <li><a href="" class="hover:underline hover:text-teal-500">Conta Digital</a>
        <li><a href="" class="hover:underline hover:text-teal-500">Cartão de Crédito</a>
        <li><a href="" class="hover:underline hover:text-teal-500">Empréstimo e Crédito Mobiliário</a>
        <li><a href="" class="hover:underline hover:text-teal-500">Rocket Bank Shop</a>
        <li><a href="" class="hover:underline hover:text-teal-500">Rocket Bank Shop</a>
        <li><a href="" class="hover:underline hover:text-teal-500">FAQ</a>
      </ul>
    </div>
    <div class="flex flex-col gap-8">
      <h3 class="font-bold">Precisa de Ajuda?</h3>
      <ul class="flex flex-col gap-4">
        <li><a href="" class="hover:underline hover:text-teal-500">Central de Ajuda</a>
        <li><a href="" class="hover:underline hover:text-teal-500">Central de Ajuda</a>
        <li><a href="" class="hover:underline hover:text-teal-500">Central de Ajuda Para Funcionários</a>
        <li><a href="" class="hover:underline hover:text-teal-500">Rocket Bank Shop</a>
        <li><a href="" class="hover:underline hover:text-teal-500">Rocket Bank Shop</a>
        <li><a href="" class="hover:underline hover:text-teal-500">FAQ</a>
      </ul>
    </div>

    <div class="flex flex-col gap-8">
      <h3 class="font-bold">Para você</h3>
      <ul class="flex flex-col gap-4">
        <li><a href="" class="hover:underline hover:text-teal-500">Conta Digital</a>
        <li><a href="" class="hover:underline hover:text-teal-500">Cartão de Crédito</a>
        <li><a href="" class="hover:underline hover:text-teal-500">Empréstimo e Crédito Mobiliário</a>
        <li><a href="" class="hover:underline hover:text-teal-500">Rocket Bank Shop</a>
        <li><a href="" class="hover:underline hover:text-teal-500">Rocket Bank Shop</a>
        <li><a href="" class="hover:underline hover:text-teal-500">FAQ</a>
      </ul>
    </div>
  </footer>
</body>

</html>
